<h1 class="h1-home">Novos produtos exclusivos Easy Carros!</h1>

<div class="novidades">
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Carros de retorno: economize em suas viagens!</h5>
      <h6 class="card-subtitle mb-2 text-muted">
        Alugue um carro de retorno para viajar trechos com local de origem, local de destino e datas definidos por um valor mais baixo.
      </h6>
      <p class="card-text">
        Você tem até 3 horas para retirar o veículo apresentando o QR Code gerado na finalização da reserva. Após esse prazo de 3 horas, para retirar o veículo será cobrado o valor de uma diária grupo. Caso não queira retirar, o valor pago na reserva não será reembolsado. Nos casos em que a devolução não ocorrer em até 24h será cobrado o valor da diária e cobrado como alocação comum.
      </p>
      <img src="../../../assets/logo-retorno.jpeg" class="img-carros-retorno">
      <button class="card-button">Quero conhecer</button>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Incentivo de proteção ambiental: reduza impactos!</h5>
      <h6 class="card-subtitle mb-2 text-muted">Condições especiais para motoristas de aplicativos no aluguel de veículos híbridos e elétricos.</h6>
      <p class="card-text">
        Durante a reserva, comprove sua atuação como motorista de aplicativo e receba ofertas exclusivas para alugar carros híbridos ou elétricos. Uma iniciativa da Easy Carros em busca da redução do impacto ambiental e diminuição da emissão de CO2 em parceria com a Uber Green e com a Aliança pela Mobilidade Sustentável fundada pela 99.
      </p>
      <img src="../../../assets/logo-green.jpeg" class="img-carros-retorno">
      <button class="card-button-retorno">Quero conhecer</button>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">EasyPay: Conheça a carteira digital da Easy Carros!</h5>
      <h6 class="card-subtitle mb-2 text-muted">Com a EasyPay você garante ótimas condições no aluguel de veículos e ainda pode movimentar saldos, pagar contas e boletos.</h6>
      <p class="card-text">
        A EasyPay é a carteira digital vinculada a EasyCarros. Consiste em um sistema de pagamento interno da locadora que além de reduzir taxas e ofertar os melhores preços no aluguel dos veículos ainda te ajuda a organizar sua vida financeira oferecendo soluções de pagamento, cartão de crédito e empréstimo pessoal facilitado.
      </p>
      <img src="../../../assets/logo-easy-carros.jpeg" class="img-carros-retorno">
      <button class="card-button-easypay">Quero conhecer</button>
    </div>
  </div>
</div>
